*                         @bugloper
.github/                  @bugloper @SELISEdigitalplatforms/DEVOPS-ADMIN-ALL-REPOS
CODEOWNERS                @bugloper @SELISEdigitalplatforms/DEVOPS-ADMIN-ALL-REPOS
